[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
legendary-gl = "*"
ue4parse = {editable = true, git = "https://github.com/MinshuG/pyUE4Parse.git"}

[dev-packages]

[requires]
python_version = "3.10"
